.DiaryEntry {
    border-bottom: 1px solid gray;
    display: inline-block;
    min-height: 20vh;
    position: relative;
    overflow: hidden;
}

.date, .entryText, .score, .magnitude{
    text-align: left;
    padding-left: 20px;
    margin: 2px 0px 2px 0px;
    padding-bottom: 0px;
    font-size: 2vh;
}

.score, .magnitude {
    font-size: 12px;
}

.date {
    font-size: 35px;
}

.entryText {
    font-size: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background:  #B69BB7;
    border-radius: 15px;
}