@import url("https://fonts.googleapis.com/css?family=Cabin");

.DiaryPage {
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 20px;
    color: black;
    font-size: 50px;
    text-align: left;
}

.date-picker {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    text-align: left;
    border-radius: 10px;
    border-width: 1px;
    padding: 0.5em;
    font-family: 'Cabin';
}

.entry-box {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px;
    float: left;
    resize: none;
    height: 150px;
    border-radius: 10px;
    font-family: 'Cabin';
}

.addButton {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #8a5d8c;
    color: white;
    padding: 0.5em;
    font-family: 'Cabin';
    transition: 0.5s;
}

.addButton:hover{
    background-color: white;
    color: #8a5d8c;
}