.main {
  display: flex;
  flex-direction: row;
  max-height: 100%;
}

.left-side {
  width: 70vw;
  max-height: 100vh;
  overflow-y: scroll;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 30vw;
  max-height: 100vh;
  overflow-y: scroll;
}